/* Css reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

/* -- Css reset */

/* General Css rules */
body {
  background-color: #020c1b;
  font-family: "Roboto Mono", monospace;
  color: #8892b0;
  font-weight: 400;
}

section {
  margin-top: 80px;
}

section > div {
  margin: 0px 20px;
}

section.blur {
  filter: blur(5px) brightness(0.7);
  pointer-events: none;
  user-select: none;
}

ol,
ul {
  list-style: none;
}
/* -- General Css rules */

/* HEADER */
/* Breack point 1000px; */

header {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: rgba(10, 25, 47, 1);
  box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7);
}

header nav {
  padding: 10px 40px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .logo {
  display: inline-block;
  color: #64ffda;
  text-decoration: none;
  font-size: 30px;
  border: 1px solid #64ffda;
  border-radius: 50%;
  padding: 5px 15px;
  margin-right: 30px;
}

header nav .nav {
  display: none;
}

header nav .nav a {
  color: #8892b0;
  text-decoration: none;
}

@media (min-width: 700px) {
  header nav .nav {
    display: inline-block;
  }
}

header nav .nav a:hover {
  cursor: pointer;
  color: #64ffda;
}

header nav .nav .nav-list {
  display: inline-block;
  padding-right: 10px;
}

header nav .nav .nav-list a {
  display: inline-block;
}

header nav .nav .nav-list li {
  display: inline-block;
  padding: 5px 10px;
  color: #8892b0;
}

header nav .nav .nav-list li:hover {
  cursor: pointer;
  color: #64ffda;
}

/* -- HEADER */

/* Hamburger-button Section */
.hamburger-content {
  display: inline-block;
  position: fixed;
  z-index: 25;
  top: 10px;
}

@media (min-width: 700px) {
  .hamburger-content {
    display: none;
  }
}

.hamburger-button {
  list-style: none;
  margin-top: 5px;
  position: fixed;
  right: 30px;
  width: 50px;
  z-index: 30;
}

.hamburger-button li {
  height: 4px;
  margin: 8px auto;
  background-color: #64ffda;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.hamburger-button li:nth-child(1) {
  width: 42px;
}
.hamburger-button li:nth-child(2) {
  width: 32px;
}
.hamburger-button li:nth-child(3) {
  width: 20px;
}

.hamburger-button.open li:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(8px, 12px);
  -ms-transform: rotate(45deg) translate(8px, 12px);
  transform: rotate(45deg) translate(8px, 12px);
}

.hamburger-button.open li:nth-child(2) {
  -webkit-transform: rotate(-45deg) translate(-12px, -1.5px);
  -ms-transform: rotate(-45deg) translate(-12px, -1.5px);
  transform: rotate(-45deg) translate(-10px, -1.5px);
}

.hamburger-button.open li:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(16px, -10px);
  -ms-transform: rotate(-45deg) translate(16px, -10px);
  transform: rotate(-45deg) translate(16px, -10px);
}
/* --Hamburger-button Section */

/* Experience Section */
.jss92 {
  height: 145px;
  display: flex;
  flex-grow: 1;
  background-color: #fff;
}

.jss93 {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

/* Aside */
aside {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: min(70vw, 500px);
  height: 100vh;
  z-index: 11;
  outline: 0px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transform: translateX(100vw);
  visibility: visible;
}

aside.open {
  transform: translatex(0vw);
}

aside .aside-content {
  padding: 50px;
  height: 100%;
  position: relative;
  background-color: rgb(23, 42, 69);
}

aside .aside-content ol {
  width: 100%;
  padding-top: 20vh;
}

aside .aside-content ol li {
  color: #ccd6f6;
  font-size: 25px;
  font-family: Roboto;
  text-align: center;
  margin-bottom: 60px;
}

aside .aside-content ol li:hover {
  cursor: pointer;
}
