/* General Section */
body {
  background-color: #020c1b;
}

ol {
  list-style: none;
}

/* Experience Section */
.jss92 {
  height: 145px;
  display: flex;
  flex-grow: 1;
  background-color: #fff;
}

.jss93 {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

/* Hamburger-button Section */
.hamburger-button {
  list-style: none;
  margin-top: 30px;
  position: absolute;
  right: 0;
  width: 100px;
  z-index: 30;
}

.hamburger-button li {
  height: 4px;
  margin: 8px auto;
  background-color: #64ffda;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.hamburger-button li:nth-child(1) {
  width: 42px;
}
.hamburger-button li:nth-child(2) {
  width: 32px;
}
.hamburger-button li:nth-child(3) {
  width: 20px;
}

.hamburger-button.open li:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(8px, 12px);
  -ms-transform: rotate(45deg) translate(8px, 12px);
  transform: rotate(45deg) translate(8px, 12px);
}

.hamburger-button.open li:nth-child(2) {
  -webkit-transform: rotate(-45deg) translate(-12px, -1.5px);
  -ms-transform: rotate(-45deg) translate(-12px, -1.5px);
  transform: rotate(-45deg) translate(-10px, -1.5px);
}

.hamburger-button.open li:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(16px, -10px);
  -ms-transform: rotate(-45deg) translate(16px, -10px);
  transform: rotate(-45deg) translate(16px, -10px);
}

/* Aside */
aside {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: min(75vw, 400px);
  height: 100vh;
  z-index: 10;
  outline: 0px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transform: translateX(100vw);
  visibility: visible;
}

aside.open {
  transform: translatex(0vw);
}

aside .aside-content {
  padding: 50px;
  height: 100%;
  position: relative;
  background-color: rgb(23, 42, 69);
}

aside .aside-content ol {
  width: 100%;
  padding-top: 20vh;
}

aside .aside-content ol li {
  color: #ccd6f6;
  font-size: 25px;
  font-family: Roboto;
  text-align: center;
  margin-bottom: 60px;
}

aside .aside-content ol li:hover {
  cursor: pointer;
}
